.profile-container {
  min-height: 100vh;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-title {
  font-family: "Space Mono", monospace;
  font-size: 45px;
  letter-spacing: -0.5px;
  margin-left: 40px;
}

.logout-btn {
  padding: 10px 14px;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--foreground);
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  border-color: var(--primary);
  color: var(--primary);
}

/* DASHBOARD GRID */
.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.profile-card {
  background: var(--card);
  border: 1px solid var(--stroke);
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  min-width: 0;

  overflow: visible;
}

.profile-card h2 {
  font-family: "Space Mono", monospace;
  font-size: 25px;
  margin-bottom: 12px;
  color: var(--muted);
}

/* FULL WIDTH CARD */
.profile-card.full {
  grid-column: span 2;
}
.user-data {
  width: 100%;
}
/* MOBILE */
@media (max-width: 900px) {
  .profile-grid {
    grid-template-columns: 1fr;
  }

  .profile-card.full {
    grid-column: span 1;
  }
}

.profile-greeting {
  color: var(--foreground);
  font-weight: 500;
  font-family: "Space Mono", monospace;
  margin-top: -8px;
  margin-left: 40px;
  font-size: 35px;
}

.profile-greeting span {
  font-weight: 600;
}
